<form action="/signup" method="post">
    <label for="mobile">Enter Mobile Number: </label>
    <input name="mobile" type="text" value="default">
    </br>
    <label for="password">Enter Password: </label>
    <input name="password" type="password" value="eh">
    <input type="submit", value="OK">
</form>